 @import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
body {
  height: 100%;
  width: 100%;
  padding:0px;
  margin:0px;
}
.hidden{
display:none;
}
.block{
display:block;
}
.navbar {
  background-color: #333;
  color:white;
  padding: 10px 20px;
  position: relative;
  width:100%!important;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.delete-button{
    color:white;
    padding: 8px 16px;
    margin-left:auto;
    margin-right:2px;
}
.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  list-style: none;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-menu a:hover,
.navbar-menu a.active {
  background-color: #575757;
  color: #fff;
  border-radius: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 0;
}

.dropdown-menu li {
  padding: 0;
}

.dropdown-menu a {
  padding: 10px 15px;
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Responsive Navbar */
.navbar-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
}

.navbar-menu {
  display: flex;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
  }
}
